@import '../vars.css';

.comment {
  background-color: #faf9f9;
  min-height: 13rem;
  margin: var(--bigSpacer) 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.comment__title {
  font-size: var(--smallFont);
  color: var(--grey);
  margin-bottom: var(--smallSpacer);
}

.comment__btn {
  background-color: var(--blue);
  padding: var(--mediumSpacer);
  border: none;
  font-size: var(--regularFont);
  color: white;
  border-radius: 2.8rem;
  cursor: pointer;
  line-height: 1;
}

.comment__btn svg {
  margin: 0 var(--smallSpacer) -.2rem 0;
}

.preview--open {
  display: block;
}

.preview--closed {
  display: none;
}

.comment__form--closed{
  display: none;
}

.comment__form {
  display: flex;
  flex-flow: column;
  width: 90%;
}

.comment__form__label {
  font-size: var(--smallFont);
  margin-top: var(--smallSpacer);
}

.comment__form__input {
  border: .1rem solid var(--blue);
  padding: var(--smallSpacer);
  font-size: var(--smallFont);
}

.comment__form__input:focus {
  outline-color: var(--blue);
}

.comment__form__submit {
  background-color: var(--blue);
  font-size: var(--smallFont);
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.2rem;
  height: 3rem;
  margin: var(--smallSpacer) 0;
  cursor: pointer;
  width: 100%;
}
