@import '../vars.css';

.question {
  display: grid;
  grid-template-columns: auto 7.5rem;
}

.question__name {
  font-family: 'Signika Negative', sans-serif;
  font-weight: 700;
}

.question__date {
  color: var(--grey);
  font-size: var(--smallFont);
}

.question__text {
  grid-column: 1/3;
  margin-top: var(--smallSpacer);
}

.question__keywords {
  grid-column: 1/3;
  display: flex;
  flex-wrap: wrap;
  font-size: var(--smallFont);
  color: var(--grey);
  margin-top: var(--bigSpacer);
}

.question__keywords__keyword {
  border: .1rem solid var(--blue);
  line-height: 1;
  padding: var(--smallSpacer);
  border-radius: 2.2rem;
  margin-right: var(--smallSpacer);
}
