@import url(https://fonts.googleapis.com/css?family=Roboto:400,700|Signika+Negative:400,700&display=swap);

:root {
  --black: #374445;
  --blue: #04bfbf;
  --grey: #828282;
  --smallSpacer: 1rem;
  --mediumSpacer: 1.5rem;
  --bigSpacer: 2rem;
  --bigFont: 3.2rem;
  --regularFont: 2rem;
  --smallFont: 1.6rem;
}
