@value tokens: "../../style/tokens.module.css";
@value grey, blue, smallFont, smallSpacer from tokens;

.thread__form__input {
    width: 100%;
    border: .1rem solid blue;
    padding: smallSpacer;
    font-size: smallFont;
    margin-bottom: smallSpacer;
}

.comment__form__submit {
    background-color: blue;
    font-size: smallFont;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.2rem;
    height: 3rem;
    margin: smallSpacer 0;
    cursor: pointer;
    width: 100%;
}

.keywordsMessage {
    font-size: smallFont;
    color: grey;
}