@value tokens: "./style/tokens.module.css";
@value blue, regularFont, bigFont, smallSpacer, bigSpacer from tokens;



.header {
    color: white;
    background-color: blue;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header__title {
    font-family: 'Signika Negative', sans-serif;
    font-size: bigFont;
    font-weight: 700;
  }
  
  .container {
    margin: bigSpacer smallSpacer;
    font-size: regularFont;
    font-family: Roboto, sans-serif;
    line-height: 1.4;
  }