@import './css/reset.css';
@import './css/vars.css';
@import './css/components/question.css';
@import './css/components/comment.css';
@import './css/components/answers.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* stylelint-disable */
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-size: var(--regularFont);
  font-family: Roboto, sans-serif;
  line-height: 1.4;
}

.header {
  color: white;
  background-color: var(--blue);
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title {
  font-family: 'Signika Negative', sans-serif;
  font-size: var(--bigFont);
  font-weight: 700;
}

.container {
  margin: var(--bigSpacer) var(--smallSpacer);
}

.hidden {
  display: none;
}

textarea {
  resize: none;
}
